<!DOCTYPE html>
<html>
<head>
  <title>Form Example</title>
  <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: rgb(195,195,95);
        background: linear-gradient(90deg, rgba(195,195,95,0.8085609243697479) 0%, rgba(0,212,255,1) 100%);
    }
    
    .form-container {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      border-radius: 5px;
    }
    
    .form-container label,
    .form-container input,
    .form-container textarea {
      display: block;
      margin-bottom: 10px;
    }
    
    .form-container label {
      font-weight: bold;
    }
    
    .form-container input,
    .form-container textarea {
      width: 100%;
      padding: 8px;
      border-radius: 3px;
      border: 1px solid #ccc;
    }
    
    .form-container button {
      display: block;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  
<div class="form-container">
  <form method="post" action="/update">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required value="<%= filename %>">
    <textarea name="editor1" style="height: 200px;"><%= bodyContent %></textarea>
    <script>
      CKEDITOR.replace('editor1');
    </script>
    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>
