<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystylesheet.css">
    <title>interviews.help</title>
</head>
<body>
    <header class="navbar" id="header-placeholder">
        <div class="logo">
            <a href="/" id="home-link"><img src="./images/interviews-logo.png" alt=""></a>
        </div>
        <div class="main-navbar-links">
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="https://www.c-sharpcorner.com/learn/">Learn</a></li>
                <li><a href="https://www.c-sharpcorner.com/chapters/">Events</a></li>
                <li><a href="https://www.c-sharpcorner.com/ebooks/">E-book</a></li>  
        </div>
    </header>

    <section class="wrapper">
        <nav class="left-navbar" id ="left-navbar-placeholder">
         
        </nav>
        <main class="main-content">
            <div class="grid-container">
                {{#titlesWithLinks}}
                <a href="{{link}}">
                  <div>{{title}}</div>
                </a>
              {{/titlesWithLinks}}
              </div>
            </div>
        </main>
        <aside class="rightside">
            <img src="images/image_2023_05_19T10_14_50_816Z.png" alt="">
        </aside>
    </section>


    <footer>
        <div class="footer-content">
            <p>&copy;2023 interview.help All rights reserved</p>

        </div>
    </footer>
  

</body>
<script src="index.js" type="module"></script>

</html>