<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mystylesheet.css">
    <title>interview.help - Home</title>
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <img src="./images/interviews-logo.png" alt="">
        </div>
        <div class="main-navbar-links">
            <ul>
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="">Learn</a></li>
                <li><a href="">Events</a></li>
                <li><a href="">E-book</a></li>
                <li><a href="">Videos</a></li>
            </ul>
        </div>
    </header>

    <section class="wrapper">
        <nav class="left-navbar">
            <ul>
                <li class="active"><a href="question-listing.html">C# Interview Questions</a></li>
                <li><a href="">Sql Interview Questions</a></li>
                <li><a href="">AWS Cloud Interview Questions</a></li>
                <li><a href="">MongoDB Interview Questions</a></li>
                <li><a href="">No-SQL Interview Questions</a></li>
                <li><a href="">iOS Interview Questions</a></li>
                <li><a href="">ReactJs Interview Questions</a></li>
                <li><a href="">Asp.Net Interview Questions</a></li>
                <li><a href="">Project Manager Interview Questions</a></li>
                <li><a href="">Angular Interview Questions</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <div class="listing-head">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li>C# Interview Questions</li>
                </ul>
            </div>
            <div class="listing-title-read">
                <h3><a href="">
                        Lorem ipsum consectetur adipisicing elit?
                    </a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                    consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                    consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                    consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
                    consequatur ab quibusdam saepe eius?
                    Dolorem rem debitis porro necessitatibus, alias aliquid vitae et saepe perferendis quam tenetur
                    quisquam hic facere. Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero modi, saepe minus
                    eaque fuga nisi, nulla quae, accusamus aliquid inventore voluptas deserunt quia facere? Commodi
                    illum iste voluptatem qui illo!</p>
            </div>
            <div class="pagination">
                <div class="previous">
                    <p>previous</p>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elita liquid inventore voluptas deserunt quia facere?</h4>
                </div>
                <div class="next">
                    <p>Next</p>
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elita liquid inventore voluptas deserunt quia facere?</h4>
                </div>
            </div>
        </main>
        <aside class="rightside">
            <img src="images/image_2023_05_19T10_14_50_816Z.png" alt="">
        </aside>
    </section>


    <footer>
        <div class="footer-content">
            <p>c 2023 interview.help All right reserved</p>
        </div>
    </footer>

</body>

</html>