<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mystylesheet.css">
    <title>interview.help - Question Listing</title>
</head>

<body>
    <header class="navbar" id="header-placeholder">
                <div class="logo">
                    <img src="./images/interviews-logo.png" alt="">
                </div>
                <div class="main-navbar-links">
                    <ul>
                        <li><a class="active" href="index">Home</a></li>
                        <li><a href="">Learn</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">E-book</a></li>
                        <li><a href="">Videos</a></li>
                    </ul>
                </div>
    </header>

    <section class="wrapper">
        <nav class="left-navbar" id ="left-navbar-placeholder">
            <ul>
                <li class="active"><a href="ques">C# Interview Questions</a></li>
                <li><a href="">Sql Interview Questions</a></li>
                <li><a href="">AWS Cloud Interview Questions</a></li>
                <li><a href="">MongoDB Interview Questions</a></li>
                <li><a href="">No-SQL Interview Questions</a></li>
                <li><a href="">iOS Interview Questions</a></li>
                <li><a href="">ReactJs Interview Questions</a></li>
                <li><a href="">Asp.Net Interview Questions</a></li>
                <li><a href="">Project Manager Interview Questions</a></li>
                <li><a href="">Angular Interview Questions</a></li>
            </ul>
        </nav>
        <main class="main-content">
            <div class="listing-head">
            <ul class="breadcrumb">
                <li><a href="index">Home</a></li>
                <li>C# Interview Questions</li>
            </ul>
            <button class="download-button"><a href="">Download All QnA in PDF</a></button>
        </div>
            <div class="listing-title">
            
                
                <h3><a href="">
                    What is C?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit?
                </a></h3>
            <h3><a href="question-read.html">
                    Lorem ipsum consectetur adipisicing elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum adipisicing elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet ?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor adipisicing elit?
                </a></h3>
            <h3><a href="">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit?
                </a></h3>
            </div>
        </main>
            <aside class="rightside">
                <img src="./images/image_2023_05_19T10_14_50_816Z.png" alt="">
            </aside>
        
    </section>


 <footer>
                <div class="footer-content">
               <p>c 2023 interview.help All right reserved</p>
            </div>
    </footer>

</body>

</html>