<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ejs/3.1.6/ejs.min.js"></script>
    <link rel="stylesheet" href="/mystylesheet.css">
    <title>interview.help - Question Listing</title>
</head>

<body>
    <header class="navbar" id="header-placeholder">
                <div class="logo">
                    <img src="./images/interviews-logo.png" alt="">
                </div>
                <div class="main-navbar-links">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="">Learn</a></li>
                        <li><a href="">Events</a></li>
                        <li><a href="">E-book</a></li>
                        <li><a href="">Videos</a></li>
                    </ul>
                </div>
    </header>

    <section class="wrapper">
        <nav class="left-navbar" id ="left-navbar-placeholder">
          
        </nav>
        <main class="main-content">
            <div class="listing-head">
            <ul class="breadcrumb">
                <li><a href="index.ejs">Home</a></li>
                <li>{{title}}</li>
            </ul>
            <button class="download-button"><a href="">Download All QnA in PDF</a></button>
        </div>
            <div class="listing-title" id ="main">
                <div id="maincontent">
                </div>
             
            </div>
        </main>
            <aside class="rightside">
                <img src="/images/image_2023_05_19T10_14_50_816Z.png" alt="">
            </aside>
        
    </section>


 <footer>
                <div class="footer-content">
               <p>c 2023 interview.help All right reserved</p>
            </div>
    </footer>

</body>

</html>