@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --grey-color: #999999;
    --dark-color: #010101;
    --primary-font: 'open-sans', sans-serif;
}

header{
    background-color: #ffffff;
    box-shadow: 0px 4px 2px rgb(135 135 135 / 20%);
    padding: 18px;
    position: sticky;
    top:0;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    z-index:2;
}
.main-navbar-links {
    max-width:500px;
    font-family: var(--primary-font);
    align-self: center;
    margin: 0px auto;
}
.main-navbar-links ul li{
    display: inline-block;
    margin-right:30px;
}
.main-navbar-links ul li a{
    font-size: 22px;
    text-decoration: none;
    color: #04124b;
    
}
.logo {
    margin-left:20px;
}

.logo img {
    width: 250px;
}

.logo a {
    text-decoration: none;
    color: #202020;
}

.wrapper {
     display: flex;
    justify-content: center;
    flex-flow:row wrap;
    min-height:100vh;
}

.left-navbar {
    width:400px;
    height: auto;
    border-right: 1px solid #cfcfcf;
    padding-left:10px;
    padding-top:20px;
 
    top:80px;
    z-index:1;
}
.left-navbar ul li{
    margin-bottom: 5px;
    border-left: 6px solid transparent;
}
.left-navbar ul li a {
    font-family: var(--primary-font);
    padding:10px 14px;
    display: block;
    font-size: 20px;
}

.left-navbar ul li.active,
.left-navbar ul li:hover{
    border-left: 6px solid #04124b;
}

.left-navbar a {
    text-decoration: none;
    color: #686868;

}
.active, 
a:hover,
.active a{
    color: #04124b;
}

.main-content {
    margin:0px auto;
    margin-top:20px;
    max-width:1020px;
    min-width:auto;
}
.main-content1 {
    margin:0px auto;
    margin-top:20px;
    max-width:845px;
    min-width:auto;
}

.main-content a {
    text-decoration: none;
    color: #010101;
    font-family: var(--primary-font);
}

.main-content h3 {
    margin-top: 20px;
}


.main-content1 a {
    text-decoration: none;
    color: #010101;
    font-family: var(--primary-font);
}

.main-content1 h3 {
    margin-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.grid-container>a {
    background-color: rgb(227 227 227 / 80%);
    text-align: center;
    padding: 50px 10px;
    font-size: 26px;
    border-radius: 15px;
    font-family: var(--primary-font);
    width: 288px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #010101;
}

.rightside {
    width:400px;
    margin-top:20px;
    position: sticky;
    top:100px;
}
.footer-content {
    text-align: center;
    background-color: #202020;
    color: #ffffff;
    padding: 20px;
}

.listing-head{
    display: flex;
    margin-bottom: 10px;
}

.listing-title{
    /* margin-top: 40px; */
}

ul.breadcrumb  {
    list-style: none;
    margin-bottom: 20px;
    font-family: var(--primary-font);
}

ul.breadcrumb li,h1 {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before,
ul.breadcrumb li h1+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

ul.breadcrumb li a h1{
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #04124b;
    text-decoration: none;
}

.download-button {
    padding: 10px;
    display: flex;
    justify-content: end;
    margin-left: 398px;
    background-color: green;
    border: none;
    border-radius: 5px;
  }

.download-button a{
    color: #ffffff;
    font-family: var(--primary-font);
}

.listing-title-read{
    font-family: var(--primary-font);
}

.listing-title-read h3{
    margin-bottom: 15px;
}

.listing-title-read p{
    margin-bottom: 15px;
}

.pagination{
    margin-top: 80px;
    font-family: var(--primary-font);
    display: flex;
    border-top: 1px solid #cfcfcf;
}

.previous{
    width: 50%;
    border-right: 1px solid #cfcfcf;
    margin-top: 20px;
}

.previous p{
    margin-bottom: 10px;
    text-transform: uppercase;
}

.next{
    width: 50%;
    text-align: end;
    margin-top: 20px;
}

.next p{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.sticky {
    position: fixed;
    top: 200px; /* Adjust this value based on your desired height */
  }



  
  
  